@import url('https://fonts.googleapis.com/css?family=Comfortaa%7CRighteous');

body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREqNkXIGWqd03XmyeMfwCzlDgscFd7MH-hsg&usqp=CAU);
  margin: 0;
  font-family: 'Comfortaa';
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  font-family: 'Righteous';
  background: none;
  margin:0;
  margin-bottom: 50%;
  padding: 0;
  text-align: center;
  position: relative;
  top: 0;
  
}

a {
  color: black;
  text-decoration: none;
  text-shadow: black;
  font-size: 3rem;

}

a:hover {
  color: blue;

}

li {
  list-style: none;
}

li a {
  color:black;
  position: relative;
  top: 10px;
  left: 10px;
}

input[type=text] {
  position: relative;
  top: 5px;
  left: 10px;
  
}

input[type=submit] {
  padding: 20px;
  color: black;
  background: steelblue;
  font-size: 1em;
  border-radius: 30px;
  margin: 20px;
}
